<%= include_gon %>
<% content_for :title do %>
  查看新闻-<%= @news.title %>
<% end %>
<div id="body-content">
  <h2><%= @news.title %></h2>
  <div class="row">
    <div class="large-8 columns">
      <%= link_to @news.url,  @news.url %>
      <p class="panel"><%= @news.desc %></p>
      <% @news.content.split('||').each do |para| %>
        <p><%= para %></p>
      <% end %>
    </div>

    <div class="large-4 columns">
      <div class="row">
        <p class="left">这里是单词列表</p>
        <p class="right"><a href="#">刷新</a></p>
      </div>
      <div class="large-12">
        <ul id="word-list">
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="medium reveal-modal" data-reveal>
  <p class="w"></p>
  <p class="m"></p>
  <a class="close-reveal-modal">x</a>
</div>
