<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">晨读网</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="#">Right Button Active</a></li>
          <li class="has-dropdown">
            <% if user_signed_in? then %>
              <%= link_to current_user.email, '/' %>
              <ul class="text-center dropdown">
                <li><a href="#">注销</a></li>
              </ul>
            <% else %>
              <a href="#">Right Button Dropdown</a>
            <% end %>

          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="/news">新闻</a></li>
          <li><a href="/words">单词</a></li>
        </ul>
      </section>
    </nav>

    <div class='small-2 columns'>
      <ul>
        <li>xx</li>
      </ul>
    </div>
    <div class='small-8 columns'>
      <%= yield %>
    </div>


    <%= javascript_include_tag "application" %>
  </body>
</html>
